.card {
    /* height: 300px; */
    margin-top: 15px;
    box-shadow: 5px 5px 5px 2px lightgray;
    transform-style: preserve-3d;
}

.card:hover {
    box-shadow: 8px 8px 8px 4px gray;
    transition: all .15s ease-in;
    transform: rotateY(180);
}

.card-img-top {
    height: 150px;
}

.card-text {
    height: 100px;
}

.btn {
    box-shadow: inset -1px -1px black;
}