.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    text-shadow: .5px .5px lightslategray;
}

.card-text {
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 600px) {
    .card-text {
        overflow: scroll;
    }
}